.p-sec-title {
    display: inline-block;
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid currentColor;
    font-size: 2.4rem;
    &::before {
        content: '/';
        display: inline-block;
        margin-right: 4px;
    }
}

.post-meta {
    color: #888;
}

.c-time {
    display: inline-block;
    margin: 8px 6px 0 0;
    padding: 4px;
}

.c-sec {
    display: inline-block;
    margin: 8px 6px 0 0;
    padding: 4px;
    color: inherit;
    font-size: 1.6rem;
    &::before {
        content: "/";
        display: inline-block;
        margin-right: 2px;
        color: currentColor;
    }
    &:hover {
        background: #fafafa;
    }
}

.c-tag {
    color: inherit;
}

.c-article__meta {
    color: #888;
}
